/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chat-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

/* Left Chat Section */
.left-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  background-color: #6cd21e;
  border-bottom: 1px solid #ddd;
}
nav{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
nav h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #fff; /* Added color for better contrast */
}

#set {
  background: none;
  border: none;
  cursor: pointer;
}

.list {
  flex: 1;
  overflow-y: scroll;
  padding: 0 20px;
}

.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cont {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cont.active {
  background-color: #f0f0f0;
}

.cont img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-weight: bold;
}

.hiddensetings {
  display: none;
}

.hiddensetings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hiddensetings li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

/* Right Chat Section */
.right-chat {
  flex: 2;
  display: flex;
  flex-direction: column;
}
#logout{
  color: #ddd;
  background-color: rgb(230, 59, 59);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  width:fit-content;
  height: 40px;}
.cont{
  background-color: transparent;
  border: none;
  outline: none;
}
.contact{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#logout:hover{
   transform: scaleY(.9);
}
.no-chat {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/* Chat Box Styling */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navR {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.prop {
  display: flex;
  align-items: center;
}

.profIm {
  margin-right: 10px;
}

.profIm img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-box {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}

.chat-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.you,
.other {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  clear: both;
  display: inline-block;
  max-width: 80%;
}

.you {
  background-color: #f0f0f0;
  float: right;
}

.other {
  background-color: #fff;
  float: left;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 1
}